*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;

}
.main{
    width: 1440px;
    height: 1024px;
    border: 5 px solid rgb(207, 228, 14);
    margin:  0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 85px 180px;
}

.box{
    width: 240px;
    height: 240px;
    background-color: rgb(138, 13, 115);
      border-radius: 8px;
    border: 1 px solid black;
    border-radius: 8 px;
    padding: 8px;
    display: flex;
    gap: 8px;
}

.boxcha{
    width: 50px;
    height: 50px;
    background-color: rgb(185, 101, 11);
    border: 1px solid black;
    border-radius: 8px;

}
.box2{
    flex-direction: column;
}
.box3{
  flex-wrap: wrap;
  align-content: flex-start;
}
.box4{
    justify-content: space-between;
}
.box5{
        width: 240px;
    height: 240px;
    background-color: rgb(162, 14, 140);
      border-radius: 8px;
    border: 1 px solid black;
    border-radius: 8 px;
    padding: 8px;
    display: flex;
    gap: 8px;
}
  .box6{
    justify-content: flex-end;
  }
  .box7{
    justify-content: center;
  }
  .box8{
     justify-content: space-between;
  }
  .box9{
     width: 240px;
    height: 240px;
    background-color: rgb(138, 13, 115);
      border-radius: 8px;
    border: 1 px solid black;
    border-radius: 8 px;
    padding: 8px;
    display: flex;
    gap: 8px;
  }
  .box10{
    align-items: end;
  }
  .box11{
    align-items: center;
  }
  .box12{
     justify-content: space-between;
  }